{% include "header.html" %}

<div class="container">
    <div class="row">
       <div class="col-sm-6">
            <img class="isaac_img" src="static/image/software developer full stack developer Electrical Engineer Power system Engineer.jpg" alt="image of creator">
       </div>
        <div class="col-xl name" style="padding-right: 70px; font-family: 'Gentium Plus', serif">
            <h1> AFOLAYAN ISAAC ADEMIDE </h1>
            <h5> FULLSTACK DEVELOPER </h5>
            <h5> SOFTWARE DEVELOPER </h5>
        </div>
    </div>
</div>
<div class="container text-left center professional">
    <h3> Professional summary </h3>
    <p> Isaac, is a Fullstack developer with a high level proficiency in developing web applications. </p>
    <p> Self motivated, creative in solving problems, Good communication skills, great in driving
        ideas to actualisation. </p>
    <p> An Electrical Engineer, certified green associate with an ability to develop electrical schematics for power systems. </p>
</div>
<div class="middle">
    <hr>
    <div class="container skills">
        <div class="row">
            <div class="col-sm-6">
                <h5> Skills and tools </h5>
                <ul>
                    <li> Web Development </li>
                    <li> Data analytics </li>
                    <li> Graphics Design </li>
                    <li> Frontend development </li>
                    <li> Python scripting </li>
                    <li> Electrical power system control design </li>
                    <li> Data analysis in power systems for control decisions </li>
                </ul>
            </div>
            <div class="col-sm-6">
                <h5> Languages - framework - Libraries </h5>
                <ul>
                    <li>
                        <i class="fa-brands fa-python"></i>
                        Python
                    </li>

                    <li>
                        Flask
                    </li>

                    <li> Django </li>
                    <li> Postgre SQL </li>
                    <li> Sql Lite </li>
                    <li> API Developement </li>
                    <li> Jinja Templating </li>
                    <li> Matlab </li>
                    <li> PSAT </li>
                </ul>
            </div>
        </div>
    </div>
    <hr>
    <div class="Education">
        <h5> Education </h5>
    </div>
    <div class="container">
        <div class="row">
            <div class="col-sm-6">
                <h5> Masters of Engineering </h5>
                <p> Power systems and Machine </p>
                <p> Postgraduate studies </p>
                <p> Nigerian Defence Academy, Nigeria </p>
                <p> 2021 </p>
                <br>
                <h5> Digital skills: Artificial Intelligence </h5>
                <p> Accenture </p>
                <p> 2020 </p>
            </div>
            <div class="col-sm-6">
                <h5> Bachelors of Engineering </h5>
                <p> Electrical and Electronics Engineering </p>
                <p> Landmark University, Omu-Aran, Kwara State, Nigeria </p>
                <p> 2017 </p>
                <br>
                <h5> PYTHON: 100 Days of code. </h5>
                <p> Udemy </p>
                <p> 2022 </p>
            </div>
        </div>
    </div>
</div>
<div class="end">
    <div class="container cta">
        <div class="text-center">
            <h4> Let us work together </h4>
            <a href="{{ url_for('contact') }}">
             <button type="button" id="bb" class="btn btn-primary btn-lg">contact me</button>
            </a>
        </div>
    </div>
</div>
{% include "footer.html" %}
